body {
    background: linear-gradient(90deg, #485563 10%, #29323c 90%);
  }

  html,
body {
  height: 100%;
}

  .caro {
      margin-top: 10%;
      font-family: "Orbitron";
  }

  .btn-large {
    background: rgba(0, 0, 0, 0.4);
  }

  .firstBack {
    background-image: url("../Images/randm.jpg");
    background-size: cover;
  }

  .secondBack {
    background-image: url("../Images/drop2.png");
    background-size: cover;
    color: black;
  }

  /* @media only screen and (max-width: 699px) {
    .secondBack {
        background-size: 360px 360px;
    }
} */

.thirdBack {
    background-image: url("../Images/hangman.jpg");
    background-size: cover;
    text-shadow: 2px 2px 4px red;
  }

  .fourthBack {
    background-image: url("../Images/react.jpg");
    background-size: cover;
    background-repeat: none;
    text-shadow: 4px 4px 4px #000000;
    

  }

  .fifthBack{
    background-image: url("../Images/nodemysql.png");
    background-size: cover;
  }

  .sixthBack{
    background-image: url("../Images/express.png");
    background-size: cover;
  }

  .seventhBack{
    background-image: url("../Images/bucketlist.png");
    background-size: cover;
    text-shadow: 4px 4px 4px #000000
  }

  .eighthBack {
    background-image: url("../Images/google.png");
    background-size: cover;
  }

  .nineBack {
    background-image: url("../Images/rams.jpg");
    background-size: cover;
  }

  .tenBack {
    background-image: url("../Images/clicker.png");
    background-size: cover;
    text-shadow: 2px 2px 4px red;
  }

  .btn-large {
    margin: 2%;
  }

  .footer {
    font-family: "Orbitron";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }

 /* buttons */
 #fixedbutton {
  position: fixed;
  top: 2%;
  right: 2% ;
}

i {
  color: white;
}

a:hover { 
  background-color: white;
  
}